$color-light: #fff;
$color-higlighted: red; //roboczo 'czerwony', do poprawy!!
$color-border: #ebebeb;

$font-text: 'Open Sans', sans-serif;
$font-weight-regular: 300;
$font-weight-bold: 400;
$base-size:12px;