@import './styles/mediaQueries.scss';

.App {
  background-color: red;
  @include tablet {
    background-color: yellow;
  }
  @include desktop {
    background-color: pink;
  }
  @include largeScreen {
    background-color: orange;
  }
}


